body {
    background-color:#E0E0E0;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin:0px;
    padding:0px;
    width:100%;
}
#dialog-message
{
background-color:#282828;
font-size:12px;
color:#ffffff;
margin:0 auto;
top:50%;
}
#pop
{
margin:0 auto;
top:50%;
}

#dialog-message1
{

background-color:#282828;
font-size:12px;
color:#ffffff;
margin:0 auto;
width: 300px;

}
#dialog-message2
{

background-color:#282828;
font-size:12px;
color:#ffffff;
margin:0 auto;
width: 300px;

}
.button {
 
  background-color: #ffffff;
  border: 1px solid #666;
  color:#000000;
  text-decoration:none;
  margin-top: 5px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  text-align:center;
  width:202px;
  opacity:0.8;
 
}
#diadesc
{
margin-top:3px;
margin-bottom:3px;
}
b{
margin-up:5px;
}
#namehead{
text-align:center;
color:#000;
font-size:17px;
height:2em;
}
#runex
{
font-size:30px;
padding-top:4em;
text-align:center;
}
#count
{
text-align:center;
font-size:65px;
margin:0 auto;
margin-top:0.9em;
margin-bottom:0.8em;
}

.button1 {
    background-color: #FFF;
    padding-bottom: 2px;
    text-align: center;
    opacity: 0.9;
    border: 1px solid #000;
    right: 0px;
    position: fixed;
    text-decoration: none;
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 9px;
    width: 75px;
    padding-top: 2px;
}
.button12 {
  margin-top: 11px;
  margin-left:0px;
  text-align:center;
  opacity:0.9;
  position:fixed;
  margin-left:-3px;
}
.button2 { 
  background-color: #ffffff;
  border:1px solid #ffffff;
  border-right-color:#C0C0C0;
  color:#000000;
  padding:7px;
  text-decoration:none;
  text-align:center;
  opacity:1;
  margin:-0px; 
  margin-top:1px;
  margin-bottom:1px;
  width:20%;
}

#nextup
{
text-align:center;
bottom:200px;
font-size:22px;

}
#nextex
{
font-size:22px;
text-align:center;
}
#interval
{
visibility:hidden;
}
#count1
{
visibility:hidden;
}
a:link {text-decoration:none;}   
a:visited {text-decoration:none;} 
a:hover {text-decoration:none;}  
a:active {text-decoration:none;}  
a
{
color:#FFFFFF;
}
.button4 {
  margin-top: 60px;
  width:80px;
  text-align:center;
  color:#ffffff;
  position:fixed;
  right:0;
}
